    .encabezado {
        background-color: rgb(240, 136, 136);
        height: 40px;
    }

    .encabezado2 {
        background-color: rgb(144, 230, 211);
        height: 40px;
    }

    .cabecera {
        height: 40px;
    }

    .grilla {
        border-collapse: collapse;
        width: 100%;
    }

    .grilla th,
    .grilla td {
        border: 1px solid black;
        padding: 4px;
        text-align: center;
    }

    .cero {
        background-color: red;
    }

    .uno {
        background-color: orangered;
    }

    .dos {
        background-color: hotpink;
    }

    .tres {
        background-color: coral;
    }

    .cuatro {
        background-color: darkorange;
    }

    .cinco {
        background-color: lightpink;
    }

    .seis {
        background-color: lightpink;
    }

    .siete {
        background-color: orange;
    }

    .ocho {
        background-color: yellow;
    }

    .nueve {
        background-color: moccasin;
    }

    .diez {
        background-color: moccasin;
    }

    .once {
        background-color: papayawhip;
    }

    .doce {
        background-color: lawngreen;
    }

    .trece {
        background-color: lightgreen;
    }

    .catorce {
        background-color: mediumspringgreen;
    }

    .quince {
        background-color: forestgreen;
    }

    .dieciseis {
        background-color: steelblue;
    }

    .diecisiete {
        background-color: lightskyblue;
    }

    .dieciocho {
        background-color: cornflowerblue;
    }

    .diecinueve {
        background-color: midnightblue;
    }

    .veinte {
        background-color: navy;
    }

    .veintiuno {
        background-color: deeppink;
    }

    .veintidos {
        background-color: purple;
    }

    .veintitres {
        background-color: mediumvioletred;
    }

    .veinticuatro {
        background-color: brown;
    }

    .veinticinco {
        background-color: peru;
    }

    .veintiseis {
        background-color: grey;
    }

    .otro {
        background-color: snow;
    }

    .contenedor {
        margin: 20 px;
    }

    body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
    }

    .contenedor {
        width: 80%;
        /* Ancho del contenedor */
        max-width: 1200px;
        /* Ancho máximo para pantallas grandes */
        margin: 0 auto;
        /* Centra el contenedor horizontalmente */
        padding: 20px;
        /* Espaciado interno del contenedor */
        background-color: #f9f9f9;
        /* Fondo del contenedor */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        /* Sombra para efecto visual */
    }